.rus-map {
  width: 100%;
  height: 100%;
  height: 0;
  padding-top: 50%;
  position: relative;
}

[data-id] {
  transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0.9;
  cursor: pointer;
}
[data-id]:hover {
  opacity: 1;
}

.rus-map__svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.rus-map__svg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

.rus-map__header {
  display: block !important;
  background: #f3f3f3;
  border-radius: 24px;
  padding: 20px 30px;
}
.rus-map__header .back-link {
  padding-right: 10px;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  color: #f04d44;
}
.rus-map__header .back-link:before {
  content: "";
  margin-right: 20px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 13.0001C0 19.8916 5.60755 25.499 12.5 25.499C19.3922 25.499 25 19.8917 25 13.0001C25 6.10775 19.3922 0.500801 12.5 0.500801C5.60755 0.500801 0 6.10775 0 13.0001ZM16.6372 5.37115C16.8154 5.54966 16.9053 5.78358 16.9053 6.01735C16.9053 6.25156 16.8154 6.4854 16.6372 6.66399L10.3015 13.0001L16.6372 19.3356C16.9943 19.6928 16.9943 20.2724 16.6372 20.6296C16.2801 20.987 15.7011 20.987 15.3439 20.6296L8.36196 13.6468C8.00486 13.2892 8.00486 12.7113 8.36196 12.3544L15.3439 5.37159C15.7011 5.01397 16.2801 5.01397 16.6372 5.37115Z' fill='%23F04D44'/%3e%3c/svg%3e ");
}
.rus-map__header .rus-map__wrap,
.rus-map__header .rus-map__data {
  display: flex;
  align-items: center;
}
.rus-map__header .data-block {
  display: flex;
  padding: 0px 30px;
  border-left: 1px solid #fff;
}
.rus-map__header .data-block__l {
  margin-right: 10px;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  color: #f04d44;
}
.rus-map__header .data-block__t {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #3e434a;
}
.rus-map__header .rus-map__toggle {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3e434a;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}
.rus-map__header .rus-map__toggle:before {
  position: absolute;
  width: 100%;
  display: block;
  bottom: -24px;
  left: 0;
  content: "";
  height: 2px;
  background-color: transparent;
}
.rus-map__header .rus-map__toggle:not(:last-child) {
  margin-right: 40px;
}
.rus-map__header .rus-map__toggle.active {
  color: #f04d44;
}
.rus-map__header .rus-map__toggle.active:before {
  background-color: #f04d44;
}
.rus-map__header .rus-map__toggles {
  margin-left: auto;
}

.location_ico {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  width: 0.8%;
  height: 2%;
  position: absolute;
}
.location_ico.show {
  opacity: 1;
}
.location_ico svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.location_ico svg path {
  fill: green;
}
.location_ico[data-ico=region_1] {
  left: 15.8%;
  top: 75%;
}
.location_ico[data-ico=region_2] {
  left: 45%;
  top: 85%;
}
.location_ico[data-ico=region_3] {
  left: 72%;
  top: 71%;
}
.location_ico[data-ico=region_4] {
  left: 29%;
  top: 49%;
}
.location_ico[data-ico=region_5] {
  left: 21.5%;
  top: 79%;
}
.location_ico[data-ico=region_6] {
  left: 30%;
  top: 72%;
}
.location_ico[data-ico=region_7] {
  left: 30%;
  top: 72%;
}
.location_ico[data-ico=region_8] {
  left: 18.5%;
  top: 58%;
}
.location_ico[data-ico=region_9] {
  left: 62%;
  top: 77%;
}
.location_ico[data-ico=region_10] {
  left: 23.5%;
  top: 58.5%;
}
.location_ico[data-ico=region_11] {
  left: 21%;
  top: 71%;
}
.location_ico[data-ico=region_12] {
  left: 25%;
  top: 51%;
}
.location_ico[data-ico=region_13] {
  left: 20%;
  top: 66%;
}
.location_ico[data-ico=region_14] {
  left: 18.5%;
  top: 86.5%;
}
.location_ico[data-ico=region_15] {
  left: 17%;
  top: 68.3%;
}
.location_ico[data-ico=region_16] {
  display: none;
}
.location_ico[data-ico=region_17] {
  left: 76.6%;
  top: 76.4%;
}
.location_ico[data-ico=region_18] {
  left: 66%;
  top: 78%;
}
.location_ico[data-ico=region_19] {
  left: 15.5%;
  top: 67%;
}
.location_ico[data-ico=region_20] {
  left: 24.7%;
  top: 58%;
}
.location_ico[data-ico=region_21] {
  left: 17.6%;
  top: 82.5%;
}
.location_ico[data-ico=region_22] {
  left: 58%;
  top: 76%;
}
.location_ico[data-ico=region_23] {
  left: 16.8%;
  top: 80.2%;
}
.location_ico[data-ico=region_24] {
  left: 15.3%;
  top: 43.5%;
}
.location_ico[data-ico=region_25] {
  left: 20%;
  top: 78%;
}
.location_ico[data-ico=region_26] {
  left: 20%;
  top: 57%;
}
.location_ico[data-ico=region_27] {
  left: 83%;
  top: 42%;
}
.location_ico[data-ico=region_28] {
  left: 16%;
  top: 79%;
}
.location_ico[data-ico=region_29] {
  left: 25%;
  top: 45%;
}
.location_ico[data-ico=region_30] {
  left: 48%;
  top: 80%;
}
.location_ico[data-ico=region_31] {
  left: 29%;
  top: 61%;
}
.location_ico[data-ico=region_32] {
  left: 34%;
  top: 53%;
}
.location_ico[data-ico=region_33] {
  left: 26.5%;
  top: 57%;
}
.location_ico[data-ico=region_34] {
  left: 16%;
  top: 72.5%;
}
.location_ico[data-ico=region_35] {
  left: 52%;
  top: 57%;
}
.location_ico[data-ico=region_36] {
  left: 13%;
  top: 68%;
}
.location_ico[data-ico=region_37] {
  left: 35%;
  top: 73.5%;
}
.location_ico[data-ico=region_38] {
  left: 18.5%;
  top: 61%;
}
.location_ico[data-ico=region_39] {
  left: 22.6%;
  top: 45.6%;
}
.location_ico[data-ico=region_40] {
  left: 20.5%;
  top: 62.5%;
}
.location_ico[data-ico=region_41] {
  left: 18.2%;
  top: 68%;
}
.location_ico[data-ico=region_42] {
  left: 76%;
  top: 38%;
}
.location_ico[data-ico=region_43] {
  left: 27.5%;
  top: 63%;
}
.location_ico[data-ico=region_44] {
  left: 24%;
  top: 63.7%;
}
.location_ico[data-ico=region_45] {
  left: 22%;
  top: 58.5%;
}
.location_ico[data-ico=region_46] {
  left: 30%;
  top: 36%;
}
.location_ico[data-ico=region_47] {
  left: 37%;
  top: 47.5%;
}
.location_ico[data-ico=region_48] {
  left: 21.5%;
  top: 49%;
}
.location_ico[data-ico=region_49] {
  left: 25%;
  top: 62%;
}
.location_ico[data-ico=region_50] {
  left: 43%;
  top: 78%;
}
.location_ico[data-ico=region_51] {
  left: 40%;
  top: 75%;
}
.location_ico[data-ico=region_52] {
  left: 28%;
  top: 74%;
}
.location_ico[data-ico=region_53] {
  left: 19.5%;
  top: 60%;
}
.location_ico[data-ico=region_54] {
  left: 23.5%;
  top: 66%;
}
.location_ico[data-ico=region_55] {
  left: 32.5%;
  top: 63%;
}
.location_ico[data-ico=region_56] {
  left: 80%;
  top: 80%;
}
.location_ico[data-ico=region_57] {
  left: 20%;
  top: 48%;
}
.location_ico[data-ico=region_58] {
  left: 18%;
  top: 73%;
}
.location_ico[data-ico=region_59] {
  left: 65%;
  top: 50%;
}
.location_ico[data-ico=region_60] {
  left: 26.5%;
  top: 70%;
}
.location_ico[data-ico=region_61] {
  left: 23.5%;
  top: 70%;
}
.location_ico[data-ico=region_62] {
  left: 81%;
  top: 64%;
}
.location_ico[data-ico=region_63] {
  left: 35%;
  top: 66%;
}
.location_ico[data-ico=region_64] {
  display: none;
}
.location_ico[data-ico=region_65] {
  left: 16.8%;
  top: 82%;
}
.location_ico[data-ico=region_66] {
  left: 19%;
  top: 54%;
}
.location_ico[data-ico=region_67] {
  left: 18%;
  top: 78%;
}
.location_ico[data-ico=region_68] {
  left: 22%;
  top: 65%;
}
.location_ico[data-ico=region_69] {
  left: 28%;
  top: 67%;
}
.location_ico[data-ico=region_70] {
  left: 22%;
  top: 53%;
}
.location_ico[data-ico=region_71] {
  left: 45%;
  top: 72%;
}
.location_ico[data-ico=region_72] {
  left: 20.7%;
  top: 59.5%;
}
.location_ico[data-ico=region_73] {
  left: 53%;
  top: 86%;
}
.location_ico[data-ico=region_74] {
  left: 38%;
  top: 72%;
}
.location_ico[data-ico=region_75] {
  left: 30%;
  top: 65%;
}
.location_ico[data-ico=region_76] {
  left: 25.5%;
  top: 67%;
}
.location_ico[data-ico=region_77] {
  left: 78%;
  top: 67%;
}
.location_ico[data-ico=region_78] {
  left: 50%;
  top: 83%;
}
.location_ico[data-ico=region_79] {
  left: 40%;
  top: 63%;
}
.location_ico[data-ico=region_80] {
  left: 14%;
  top: 65%;
}
.location_ico[data-ico=region_81] {
  left: 32.8%;
  top: 73%;
}
.location_ico[data-ico=region_82] {
  left: 18.5%;
  top: 83%;
}
.location_ico[data-ico=region_83] {
  left: 26%;
  top: 64%;
}
.location_ico[data-ico=region_84] {
  left: 77%;
  top: 20%;
}
.location_ico[data-ico=region_85] {
  left: 44%;
  top: 57%;
}
.location_ico[data-ico=region_86] {
  left: 24%;
  top: 55%;
}
.location_ico[data-ico=region_87] {
  left: 22.4%;
  top: 61%;
}
.location_ico[data-ico=region_88] {
  left: 47.5%;
  top: 88%;
}

@media (max-width: 1500px) {
  .rus-map__header .data-block {
    padding: 0px 15px;
  }
  .rus-map__header .data-block__l {
    font-size: 44px;
  }
  .rus-map__header .data-block__t {
    font-size: 12px;
    line-height: 120%;
  }
  .rus-map__header .rus-map__toggle {
    font-size: 16px;
  }
  .rus-map__header .rus-map__toggle:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 1340px) {
  .rus-map__header .rus-map__wrap {
    flex-wrap: wrap;
  }
  .rus-map__toggles {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .rus-map__header .rus-map__toggle:before {
    bottom: -20px;
  }
}
@media (max-width: 1024px) {
  .map-popover.popover {
    padding: 10px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .map-popover.popover .arrow {
    display: none;
  }
}
.rus-map__wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 992px) {
  .rus-map {
    width: 1400px;
    padding-top: 700px;
    margin-left: -150px;
  }
  .rus-map__svg > svg {
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .rus-map__header {
    border-radius: 0px !important;
  }
  .rus-map__toggles {
    flex-direction: column;
  }
  .rus-map__header .rus-map__toggle {
    width: -moz-fit-content;
    width: fit-content;
  }
  .rus-map__header .rus-map__toggle:before {
    bottom: 0px;
  }
  .rus-map__header .rus-map__toggle:not(:last-child) {
    margin-right: 0;
  }
  .rus-map__data {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
  }
}
@media (max-width: 414px) {
  .rus-map__header {
    padding: 20px;
  }
  .rus-map__header .data-block {
    border: none;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */